# Virtual Environment
venv/
env/
.env/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Debug files
debug/
debug_*.png

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/ 

# Dynamic settings
dynamic_settings.yaml 

# Snapshots
snapshots/

# Models
models/
cache/