[Unit]
Description=Clock App
After=network.target stable-diffusion.service

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/clockross/.Xauthority
User=clockross
Group=clockross
WorkingDirectory=/opt/clockross
ExecStartPre=/bin/bash -c "/usr/bin/X :0 -quiet &"
ExecStart=/bin/bash -c "source venv/bin/activate && python main.py"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target